{{ define "title" }}
{{- .Title -}}
{{ end }}

{{ define "main" }}
{{ "<!-- _default/single.html start -->" | safeHTML }}

<h1>{{- .Title -}}</h1>
<ul>
date: {{ .Date.Format "2006-01-02 15:04:05 MST" }} <a href="{{ .Site.Params.EditURL }}/{{ .File }}">edit</a>
</ul>
<ul>
tags: {{ range .Params.tags -}}
  <a href="{{ print "/tags/" . | relURL }}/">{{ . }}</a>
{{ end -}}
</ul>
<div class="toc">
  Table of contents
{{.TableOfContents}}
</div>
{{ .Content }}

{{ "<!-- _default/single.html end -->" | safeHTML }}
{{ end }}
