$content-max-width: 50rem;
$content-sub-max-width: $content-max-width - 5rem;
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #ddd;
    }
    a:link { color: #88c; }
    a:visited { color: #bbc; }
    a:hover { color: #f88; }
    a:active { color: #f80; }
}
h1, h2, h3, h4, h5, h6 {
    margin: 2rem auto 1rem;
    max-width: $content-max-width;
}
.toc {
    max-width: $content-sub-max-width;
    padding: 1rem;
    border: dotted;
}
p, .highlight, .gist-file, figure, div, hr {
    margin: 1rem auto;
    max-width: $content-max-width;
    width: 90%;
}
blockquote {
    margin: 1rem auto;
    max-width: $content-sub-max-width;
    font-style: italic;
    border-left: solid 5px;
}
ul, li {
    margin: 0.75rem auto;
    max-width: $content-max-width;
}
img {
    width: 100%;
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid;
    line-height: 1.5;
    padding: 10px;
    border-left: none;
    border-right: none;
    margin: 1rem auto;
    max-width: $content-max-width;
}
figcaption {
    text-align: center;
    font-style: italic;
}
.index-date {
    text-align: right;
    font-style: italic;
}
/* code block */
pre {
  overflow: scroll;
}
